@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  background: white;
}
/* Hide scrollbar */
body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

/*----------
*Reusable Selector
*---------------*/
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 0.9338em;
}

.column {
  margin-left: -0.938em;
  margin-right: -0.938em;
}

.column .row {
  padding: 0 0.938em;
}

.flexwrap {
  display: flex;
  flex-wrap: wrap;
}

.flexcenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexitem {
  display: flex;
  align-items: center;
}

.flexcol {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.mySwiper-button-prev,
.mySwiper-button-next {
  background-color: #566068;
}

/* Add styles for active state of navigation buttons if needed */
.mySwiper-button-prev:hover,
.mySwiper-button-next:hover,
.mySwiper-button-prev:focus,
.mySwiper-button-next:focus {
  background-color: #2980b9;
  /* Change the background color on hover/focus */
}

/* Add styles for disabled state of navigation buttons if needed */
.mySwiper-button-disabled {
  opacity: 0.5;
  /* Reduce opacity for disabled state */
  cursor: not-allowed;
  /* Change cursor for disabled state */
}

.lg-backdrop.in {
  opacity: 0.7;
}

.btn-main {
  position: relative;
  height: 40px;
  width: 200px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4338ca;
  cursor: pointer;
  /* transition: all 0.5s; */
}

.btn-main::before {
  position: absolute;
  height: inherit;
  width: inherit;
  background-color: #c01e1e;
}

.btn-one {
  line-height: 40px;
  height: 40px;
  text-align: center;
  width: 200px;
  color: rgb(59, 221, 26);
  cursor: pointer;
  z-index: 1;
}

.btn-one {
  transition: all 0.5s;
  position: relative;
}

.btn-one::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  z-index: 0;
  background-color: #4338ca;
  transition: all 0.3s;
}

.btn-one:hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5);
}

.btn-one::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;

  opacity: 0;
  transition: all 0.3s;
  border: 1px solid #4338ca;
  transform: scale(1.2, 1.2);
}

.btn-one:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}

.btn {
  line-height: 40px;
  height: 40px;
  text-align: center;
  width: 200px;
  cursor: pointer;
}

.btn-three {
  color: #fff;
  transition: all 0.5s;
  position: relative;
}

.btn-three::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;

  background-color: rgba(102, 90, 90, 0.1);
  transition: all 0.3s;
}

.btn-three:hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5);
}

.btn-three::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;

  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transform: scale(1.2, 1.2);
}

.btn-three:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}

.active {
  background: #42c0fb;
}

/* image animation */

.image {
  animation: float 3s ease-out infinite;
}

@keyframes float {
  50% {
    transform: translateY(15px);
  }
}
/* swiper button  */
/* Add your custom styles for Swiper navigation buttons */
.swiper-button-next,
.swiper-button-prev {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.swiper-button-prev {
  margin-left: 10px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 12px;
  font-weight: bold;
  color: black;
}

/* Add styles for active state of navigation buttons if needed */

.swiper-button-next:hover,
.swiper-button-next:hover::after {
  transform: scale(1.2) translateX(10%);
  transition: transform 0.2s ease-in-out;
  color: gray;
}

.swiper-button-prev:hover,
.swiper-button-prev:hover::after {
  transform: scale(1.2) translateX(-10%);
  transition: transform 0.2s ease-in-out;
  color: gray;
}

.swiper-button-prev.swiper-button-prev-active,
.swiper-button-next.swiper-button-next-active {
  background-color: #2980b9;

  color: #fff;
}

.swiper-button-disabled,
.swiper-button-disabled::after {
  opacity: 0.5;
  color: white;
  cursor: not-allowed;
  /* Change cursor for disabled state */
}
#lg-backdrop-2 {
  opacity: 0.8;
}
.map {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
